html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #555;
}


#viewport {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#floating-options {
    text-align: right;
    position: fixed;
    bottom: calc(50px + 2em);
    right: 1em;
    z-index: 1;



    select {
        margin-bottom: 1em;
        opacity: 0.75;
        color: white;
        background-color: #555;
        padding: 1em;
        border-radius: 0.25em;
    }

    label {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    select:hover {
        opacity: 1;
        cursor: pointer;
    }
}


#map {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 200px;
    height: calc(100svh - 50px);
}

* {
    box-sizing: border-box;
}

#playback-controls {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    background-color: #555;
    color: #EEE;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;

    button,
    select,
    option {
        z-index: 1;
        background-color: #555;
        color: white;
        padding: 0;
        height: 50px;
        cursor: pointer;
        outline: none;
        text-align: center;
        opacity: 0.75;
    }

    select,
    option {
        font-size: 16px;
        line-height: 50px;
        border: none;
    }


    #play-button img {
        width: 50px;
        height: 50px;
        padding: 1em;
    }

    button {
        text-transform: uppercase;
        transition: 100ms all;
        aspect-ratio: 1 / 1;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1em;
        border: solid 1px black;

        img {
            transition: 100ms all;
            scale: 1.25;
        }
    }

    button:active img {
        scale: 1;
    }


    button:hover,
    select:hover,
    option:hover {
        opacity: 1;
        cursor: pointer;
    }

}

#progress-track {
    position: relative;
    height: 50px;
    flex-grow: 1;
    line-height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: #444;
}

#progress-track::after {
    content: ' ';
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 2;
}

#clock {
    white-space: nowrap;
    font-size: 48px;
    opacity: 1;
    color: white;
    text-align: center;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 900;
    cursor: move;
    margin: 0;
    padding: 0;
    /* text-shadow: 0 0 4px #000; */
    top: 0;
    left: 60px;
}

#progress-bar {
    top: 0;
    height: 50px;
    position: absolute;
    background-color: #b31932;
    display: block;
    line-height: 50px;
    content: '.';
    z-index: 0;
}

#leave-fullscreen {
    display: none;
    opacity: 0;
    color: white;
    background-color: #555;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1;
    padding: 1em;
    border-radius: 0.25em;
    aspect-ratio: 2 / 1;
    width: 70px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 250ms;
}

#leave-fullscreen.show {
    opacity: 0.4;
}

#leave-fullscreen:hover,
#leave-fullscreen.show:hover {
    opacity: 1;
}


.fullscreen-mode {
    #map {
        height: 100svh;
    }

    #leave-fullscreen {
        z-index: 1;
        display: block;
    }

    #floating-options,
    .leaflet-control-container {
        display: none;
    }

    #playback-controls {
        display: none;
    }

    a[href="https://www.maptiler.com"] {
        opacity: 0;
    }
}

#monitor {
    border: solid 1px red;
    overflow-y: scroll;
    max-height: 200px;
    display: block;
    position: fixed;
    background-color: white;
    color: black;
    left: 2em;
    right: 2em;
    bottom: 2em;
    z-index: 999;
    padding: 1em;
    font-size: 10px;
}

.pulsing-element {
    animation: pulse-glow 3s infinite ease-in-out;
}

.transit-icon {
    position: relative;
    background: transparent;
    transform-origin: 12px 12px !important;

    .marker-box {
        font-weight: 400;
        font-style: normal;
        color: #002b6f;
        aspect-ratio: 1 / 1;
        display: block;
        text-align: center;
        background-size: contain;
        background-position: center center;
        filter: drop-shadow(0 0 1px #333);
        transition: none;
        opacity: 1;
        text-wrap: nowrap;
        width: 50%;
        aspect-ratio: 1 / 2;
        position: absolute;
        top: 0;
        left: 25%;
        border: solid 1px black;
    }

    .marker-label {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        right: 0px;
        transform: rotate(90deg);
        top: 7px;
        font-size: 11px;
        line-height: 100%;
        position: absolute;
        left: 0px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }
}

@keyframes pulse-glow {

    0%,
    100% {
        box-shadow: 0 0 10px 2px rgba(255, 107, 107, 0.75);
        filter: brightness(115%);
    }

    50% {
        box-shadow: 0 0 20px 7px rgba(255, 107, 107, 0);
        filter: brightness(90%);
    }
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(15px) saturate(0);

    > * {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    h1 {
        font-weight: bold;
    }
    p {
        text-align: left;
    }
}

#main-menu {
    overflow: auto;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #333;
    color: #CCC;
    text-align: left;
    padding: 2rem;
    padding-bottom: 6rem;
    h1 {
        font-weight: bold;
        color: white;
    }
    a { color: white; }
}

.leaflet-container .leaflet-control-attribution {
    opacity: 1;
}

a[href="https://www.maptiler.com"] {
    opacity: 1;
}

.leaflet-map-pane svg {
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}

.loader {
    position: relative;
    width: 164px;
    height: 164px;
    perspective: 300px;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image:
        radial-gradient(circle 15px, #FF3D00 100%, transparent 0),
        radial-gradient(circle 15px, #FF3D00 100%, transparent 0),
        linear-gradient(#FF3D00 100px, transparent 0),
        linear-gradient(#FF3D00 100px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 30px, 30px 30px, 40% 2px, 40% 2px;
    background-position: left center, right center, left center, right center;
    animation: rotateY 1s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image:
        radial-gradient(circle 15px, #fff 100%, transparent 0),
        radial-gradient(circle 15px, #fff 100%, transparent 0),
        linear-gradient(#fff 100px, transparent 0),
        linear-gradient(#fff 100px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 30px, 30px 30px, 2px 40%, 2px 40%;
    background-position: top center, bottom center, top center, bottom center;
    animation: rotateX 1s linear infinite;
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg)
    }

    100% {
        transform: rotateY(-180deg)
    }
}

@keyframes rotateX {

    0%,
    25% {
        transform: rotateX(0deg)
    }

    75%,
    100% {
        transform: rotateX(-180deg)
    }
}

.agency-route-options {
    position: relative;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 1em;
    border: solid 1px white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    max-width: 500px;
    width: 100%;
    display: inline-block;

    .select-all-routes {
        font-weight: bold;
        cursor: pointer;
        margin-left: 1rem;
        margin-bottom: 1rem;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .route-option {
        margin-left: 1rem;
    }

    h2 {
        position: sticky;
        top: 0;
        margin-top: 0;
        background-color: black;
        padding: 1rem;
    }
}

#load-simulation-button {
    left: 0;
    position: fixed;
    bottom: 0;
}
.big-red-button {
    display: block;
    width: 100vw;
    padding: 2rem 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: hsl(0, 100%, 27%);
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.big-red-button:hover {
    background-color: hsl(0, 100%, 38%);
}

.big-red-button:active {
    background-color: hsl(0, 100%, 50%);
}

.agency-option {
    opacity: 0.5;
    background-color: #AAA;
    display: block;
    max-width: 800px;
    color: black;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    transition: opacity 100ms, scale 100ms;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    

    * {
        cursor: pointer;
    }

    img {
        display: inline-block;
        width: 50px;
        margin: 1rem;
        cursor: pointer;
        vertical-align: middle;
    }

    input[type=checkbox] {
        display: none;
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.agency-option:hover {
    opacity: 0.9;
    scale: 1.01;
}

.agency-option:active {
    opacity: 1;
    background-color: white;
    scale: 1.05;
}

.agency-option:has(:checked) {
    background-color: white;
    opacity: 1;
    font-weight: bold;
    border: solid 5px lightgreen;
    ;
}
.agency-load-list-header {
    margin-bottom: 0.25rem;
}
.load-list-item {
    opacity: 0.6;
    line-height: 1rem;
    text-align: left;
    border: solid 1px #999;
    padding: 0.5rem;
    padding-left: 3rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: -1px;
    position: relative;
    transition: background-color 500ms ease-in-out;
    .load-animation {
        height: 2rem;
        position: absolute;
        display: none;
        top: 0;
        left: 0.4rem;
        width: 2rem;
    };
    .checkmark {
        width: 0.75rem;
        position: absolute;
        height: 1.5rem;
        display: none;
        top: 0;
        left: 1rem;
        margin: 0;
    }
}
.load-list-item:first-of-type {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.load-list-item:last-of-type {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.load-list-item.inprogress {
    opacity: 1;
    background-color: #999;
    color: black;
    font-weight: bold;
    .load-animation { display: block; }
}
.load-list-item.finished {
    display: block;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    .checkmark { display: block; }
}
.load-list-item.error {
    background-color: darkred;
}

/* https://css-loaders.com/line/ */
/* HTML: <div class="loader"></div> */
.load-spinner {
  width:50px;
  aspect-ratio: 1;
  display: grid;
}
.load-spinner:before,
.load-spinner:after {
  content: "";
  grid-area: 1/1;
  --c:#0000 calc(100%/3),#ffffff 0 calc(2*100%/3),#0000 0;
  --c1:linear-gradient(90deg,var(--c));
  --c2:linear-gradient( 0deg,var(--c));
  background: var(--c1),var(--c2),var(--c1),var(--c2);
  background-size: 300% 4px,4px 300%;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}
.load-spinner:after {
  margin: 10px;
  transform: scaleX(-1);
  animation-delay: -.25s;
}
@keyframes l11 {
  0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
  25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
  50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
  75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
 75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
  100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
}

/* https://www.geeksforgeeks.org/web-templates/how-to-draw-a-checkmark-tick-using-css/ */
/* HTML: <div class="checkmark"></div> */
.checkmark {
    height: 50px;
    width: 18px;
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    transform: rotate(45deg);
    margin: 20px;
}